<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card *ngFor="let item of list" (click)="itemTapped($event, item)">
    <img src="{{item.thumbnail}}" />
  </ion-card>
</ion-content>